@import '~styles/variables.less';
@import '~styles/mixins/mixins.less';

.hover-container{
    &:hover{
        &+.tooltip-wrapper{
            display: block;
        }
    }
}

.tooltip-component-container{
    &.top{
        .tooltip-wrapper{
            margin: 0 auto !important;
            .translate(-50%, 0%);
            min-height: 34px;
            bottom: 100%;
            text-align: center;
            left: 50%;
        }
        .tooltip{
            margin-bottom: 13px;
            &:after{
                left: 50%;
                margin-left: -6px;
                bottom: -6px;
            }
            .content{
                text-align: center;
            }
        }
    }
}
