<div class="container weather">
    <h1>WeatherMap</h1>
    <div class="add-city-form-container">
        <form [formGroup]="model.cityForm" class="addCityForm center-block" (ngSubmit)="onSubmit()" #formGroup>
            <input type="text" name="city" placeholder="Введите название города" i18n-placeholder  formControlName="city" class="add-city-input" #city/>
            <tooltip class="add-city-tooltip warning inline-block" direction="top" propertyCalss="shadow" [show]="model.cityForm.controls.city.invalid" onlyOnHover>
                <ng-template #itemTemplate>
                    <button class="add-city-button" [ngClass] ="{'unselectable un-clicked': model.cityForm.controls.city.invalid}" i18n>Добавить</button> 
                </ng-template>  
                <ng-template [ngIf]="model.cityForm.controls.city.invalid && city.value.length < 2" [ngIfElse]="loggedOut">
                    <span i18n>укажите параметры поиска</span>
                  </ng-template>
                <ng-template #loggedOut>
                    <span i18n>введите корректное значение</span>
                  </ng-template>
            </tooltip> 
         
        </form>
    </div>
    <div class="fixed-table-container">
        <table class="custom-table weather-table">
            <thead>
                <tr>
                    <th (click)="sortCityList(sortFields.Name)">
                        <span class="pull-left relative" i18n>
                            Город
                            <span class="icon" [ngClass]="{'asc-sort' : !model.filters.sortDesc, 'sort': model.filters.sortField == sortFields.Name}"></span>
                        </span> 
                        </th >
                    <th (click)="sortCityList(sortFields.Tempereture)">
                        <span class="pull-left relative"  i18n>
                            Температура
                            <span class="icon" [ngClass]="{'asc-sort' : !model.filters.sortDesc, 'sort': model.filters.sortField == sortFields.Tempereture}"></span>
                        </span>  
                       </th>
                    <th (click)="sortCityList(sortFields.Atmosphere)">
                        <span class="pull-left relative"  i18n>
                            Атмосферное давление
                            <span class="icon" [ngClass]="{'asc-sort sort' : !model.filters.sortDesc, 'sort': model.filters.sortField == sortFields.Atmosphere}"></span>
                        </span>
                        </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let city of model.cityList"> 
                    <td>{{city.location}}</td>
                    <td><span class="icon cels">{{city.temperature}}</span></td>
                    <td><span class="icon atmosphere">{{city.atmosphere}}</span></td>
                    <td><span class="input-base  pull-right" (click)="removeCity(city.id)" i18n>удалить</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>  