<div class="container weather">
    <h1>Wheather map</h1>
    <div class="add-city-form-container">
        <form [formGroup]="cityForm" class="addCityForm center-block">
            <input type="text"  name="city" placeholder="введите название города" i18n-placeholder  formControlName="city" class="add-city-input" #city/>
            <button class="add-city-button" (click)="getWeatherData('sds')" i18n>Добавить</button>
        </form>
    </div>
    <div class="fixed-table-container">
        <table class="custom-table weather-table">
            <thead>
                <tr>
 
                    <th (click)="sort(sortFields.Name)">
                        <span class="pull-left" i18n>Город</span> 
                        <span *ngIf="filters.sortField == sortFields.Name" class="icon sort" [ngClass]="{'asc-sort' : !filters.sortDesc}"></span> </th >
                    <th (click)="sort(sortFields.Tempereture)">
                        <span class="pull-left"  i18n>Температура</span>  
                        <span *ngIf="filters.sortField == sortFields.Tempereture" class="icon sort" [ngClass]="{'asc-sort' : !filters.sortDesc}"></span></th>
                    <th (click)="sort(sortFields.Atmosphere)">
                        <span class="pull-left"  i18n>Атмосферное давление</span>
                        <span *ngIf="filters.sortField == sortFields.Atmosphere" class="icon sort" [ngClass]="{'asc-sort' : !filters.sortDesc}"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let city of cityList"> 
                    <td>{{city.name}}</td>
                    <td><span class="icon cels">{{city.tempereture}}</span></td>
                    <td><span class="icon atmosphere">{{city.atmosphere}}</span></td>
                    <td><span class="input-base  pull-right" (click)="removeCity(city.name)" i18n>удалить</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>  