@import '~styles/variables.less';
@import '~styles/mixins/mixins.less';
@import '~styles/tables.less';

:host ::ng-deep{ 
    .add-city-tooltip.warning{
        margin-left: 15px;
        .tooltip-component-container{
            width: 160px;
            .tooltip-wrapper{
                width: 260px;
            }
        }
    }
}
h1{
    color :@color-ocher-2;
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    padding: 20px 0;
    letter-spacing: 1.2px;
}
.weather-table{
    th{
        &:first-child{
            min-width: 373px;
        }
    }
}

.add-city-form-container{
    background:@color-ocher-1 ;
    padding: 30px 0;
    margin-bottom: 24px;
    .addCityForm{
        width: 690px;
        .add-city-input{
            padding: 23px 28px;
            border-radius: 30px;
            width: 515px;
            display: inline-block;
            background-color: @color-white;
            font-size: 18px;
            .placeholder(){
                opacity: 1;
                font-size: 18px;
                line-height: 20px;
            }
            .placeholders( .placeholder());
            
        }
        .add-city-button{
            padding: 25px 0;
            border-radius: 30px;
            background-color: @color-ocher-2;
            color: @color-white;
            width: 160px;
            font-size: 16px;
            &:hover{
                background-color: @color-ocher-3 ;
            }
            &:active{
                .box-shadow(inset 0px 17px 20px -25px fade(@color-black, 90%));
            }
        }
    }
}